body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.sidebar {
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

img {
    display: flex;
}

.consequencias{
    text-align: center;
}
.content img {
    max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        display: block;
}
h2 {
    color: #007bff;
}

#sobre-nos {
    margin-bottom: 40px;
    text-align: center;
}
.relatos, .info {
    margin-bottom: 40px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    margin-top: 20px;
}